.site-header {
  position: relative;
  padding: 1em 0 4em;
}

.site-title {
  padding: 1px 0;
  color: $title-color;
}

.site-description {
    margin: 5px 0 0;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.4);
}

/* Nav */

.site-nav {
  float: right;

  .menu-icon {
    display: none;
  }

  .page-link {
    display: inline;
    padding: 1px 0;
    margin-left: 1em;
    
    &:hover {
      color: $white-color;
    }
  }
}
